// Devise
.devise-style {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -300px 0 0 -200px;
  width: 400px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.devise-body {
  background: #FFF;
}
