<div class="subtitle-list page-header">
  <%= link_to students_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
  <h1>Novo estudante</h1>
</div>

<%= render 'form' %>
