<div class="subtitle-list page-header">
  <%= link_to incidents_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
  <%= link_to @incident, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span> Visualizar
  <% end %>
  <h1>Editar ocorrência</h1>
</div>

<%= render 'form' %>
