<div>
  <%= link_to users_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
  <% end %>
  <%= link_to @user, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span> Visualizar
  <% end %>
  <h1>Editar usuários</h1>
</div>

<%= render 'form' %>
