<div class="subtitle-list page-header">
  <%= link_to school_performaces_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
  <h1>Novo desempenho escolar</h1>
</div>

<%= render 'form' %>
