<div class="subtitle-list page-header">
  <%= link_to school_performaces_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> <%= t('code.buttons.back') %>
  <% end %>
  <h1><%= t('code.school_performace.new_performance') %></h1>
</div>

<%= render 'form' %>
