<div class="subtitle-top page-header">
  <h1>Sobre o sistema</h1>
</div>
<p class="text-system">
  O Controle de Ocorrências de Desempenho Escolar é um software desenvolvido com o objetivo de controlar parte do processo de ocorrências e relatórios de desempenho escolar de forma prática e segura. Possui menus auto-explicativos e, futuramente, um manual eletrônico para o auxilo no manuseio do software, ou, para usuários mais avançados, à adaptação de novos sistemas baseados em seu cõdigo fonte. Sendo assim, pode-se dizer que, o Sistema de Gestão de Ocorrências de Desempenho Escolar é de fácil operação e automatiza as principais rotinas envolvidas no objetivo proposto.
Operando em ambiente web, tem visual limpo que torna a navegação simples e rápida, trabalhando em mono ou multi-usuário.
</p>
