<% flash.each do |key, value| %>
	<%
		if key != 'success' && key != 'danger' && key != 'notice'
			key = 'danger'
		end
	%>
    <div class="alert-message alert-message-<%= key %>">
      <button type="button" class="close">&times;</button>
      <% if value.kind_of?(Array) %>
        <% value.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% else %>
        <div><%= value %></div>
      <% end %>
    </div>
<% end %>
<%= show_messages %>
